<div class="multi-wrapper">
  <div class="multi-sub-wrapper">

    <% restaurants.each do |restaurant| %>
      <div class="multi-card">
        <div class="content">
          <h4 class="name"><%= link_to restaurant.name, restaurant.url %></h4>
          <p class="address">Address: <%= restaurant.address %></p>
          <p class="price_range">Price Range: <%= restaurant.price_range %></p>
          <p class="cuisine">Cuisine: <%= restaurant.cuisine %></p>
          <p class="rating">Rating: <%= restaurant.rating %></p>
          <p class="distance">Distance: <%= restaurant.distance %> miles away</p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="multi-buttons">
    <%= button_to 'Roulette Again', group_roulette_path, method: :get, class: 'button button-ra' %>
    <%= button_to 'Send to Friends', new_survey_path, method: :get,
          params: { restaurant_1: restaurants[0].name,
                    restaurant_2: restaurants[1].name,
                    restaurant_3: restaurants[2].name }, class: 'button button-stf' %>
  </div>
</div>
