<li class="name">Name: <%= restaurant.name %></li>
<li class="address">Address: <%= restaurant.address %></li>
<li class="price_range">Price Range: <%= restaurant.price_range %></li>
<li class="cuisine">Cuisine: <%= restaurant.cuisine %></li>
<li class="rating">Rating: <%= restaurant.rating %></li>
<li class="distance">Distance: <%= restaurant.distance %> miles away</li>

<%= button_to 'Take Me There!', directions_path, method: :get, params: { restaurant_address: restaurant.address, user_address: cookies[:manual_location], user_lat_long: cookies[:lat_long]  } %>
<%= button_to 'Roulette Again', roulette_path, method: :get %>
