<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="wrapper">
  <div class="sub-wrapper">
    <div class="single-card">
      <!-- <img class="restaurant-image" src="" alt="Restaurant Image"> -->
      <div class="content">
        <h4 class="name"><%= link_to restaurant.name, restaurant.url, target: :_blank %></h4>
        <p class="address">Address: <%= restaurant.address %></p>
        <p class="price_range">Price Range: <%= restaurant.price_range %></p>
        <p class="cuisine">Cuisine: <%= restaurant.cuisine %></p>
        <p class="rating">Rating: <%= restaurant.rating %></p>
        <p class="distance">Distance: <%= restaurant.distance %> miles away</p>
      </div>
    </div>
  </div>
  <div class="buttons-wrapper"
    <div class="buttons">
      <%= button_to 'Take Me There!', directions_path, method: :get, class: 'roulette-button single-tmt', params: {
                                                                               restaurant_address: restaurant.address,
                                                                               user_address: cookies[:manual_location],
                                                                               user_lat_long: cookies[:lat_long],
                                                                               user_id: current_user.id,
                                                                               restaurant_id: restaurant.database_id  } %>
      <%= button_to 'Roulette Again', roulette_path, method: :get, class: 'roulette-button single-ra' %>
    </div>
  </div>
</div>
