<header class="header">
  <section class="header-logo">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', class: "home-header-logo-1", alt: "Roulette Logo") %>
      <%= image_tag('logo-2.png', class: "home-header-logo-2", alt: "Roulette Logo 2") %>
    <% end %>
  </section>
  <nav class="primary_nav">
    <ul class="navlinks">
        <li class="navlink">
          <%= link_to "Home", root_path, method: :get %>
        </li>
        <li class="navlink">
          <%= link_to "Profile", profile_path, method: :get %>
        </li>
        <li class="navlink">
          <%= link_to 'About', about_path, method: :get%>
        </li>
    </ul>
  </nav>
</header>
