<header class="header">
  <section class="header-logo">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', class: "home-header-logo-1", alt: "Roulette Logo") %>
      <%= image_tag('logo-2.png', class: "home-header-logo-2", alt: "Roulette Logo 2") %>
    <% end %>
  </section>
  <nav class="nav">
    <ul class="navlinks">
        <li class="navlink">
          <%= link_to "Home", root_path, method: :get %>
        </li>
        <li class="navlink">
          <%= link_to "Profile", profile_path, method: :get %>
        </li>
        <li class="navlink">
          <%= link_to 'About', about_path, method: :get%>
        </li>
    </ul>
     <div class="dropdown">
      <button class="btn menu-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="<%= root_path %>">Home</a>
        <a class="dropdown-item" href="<%= profile_path %>">Profile</a>
        <a class="dropdown-item" href="<%= about_path %>">About</a>
      </div>
    </div>
  </nav>
</header>
