<script>
  navigator.geolocation.getCurrentPosition(success, error)
</script>

<section class='home-hero'">
  <section class='home-hero-inner'>

    <section class="header">
      <section class="header-logo">
        <%= image_tag('logo.png', class: "home-header-logo-1", alt: "Roulette Logo") %>
        <%= image_tag('logo-2.png', class: "home-header-logo-2", alt: "Roulette Logo 2") %>
      </section>
      <section class='header-nav-bar'>
        <%= render 'partials/nav' %>
      </section>
    </section>

    <section class='hero-body'>
      <div class="location-form-padding">
        <div class="location-form">
          <form name = "location_form" action = "">
             <input id="location-search" type = "text" name = "location" placeholder="Search Location (ex. city, address, zip)">
          </form>
        </div>
      </div>
    </section>
  </section>
</section>

<section>
  <article class="home-buttons">
    <h5 id="home-question">Ready to eat?</h5>
    <%= button_to 'Roulette Now', roulette_path, method: :get, :onclick => "WriteCookie();", class: 'button', id:'home-button' %>
  </article>
  <article class="home-buttons">
    <h5 id="home-question">Picky Friends?</h5>
    <%= button_to 'Survey them!', group_roulette_path, method: :get, :onclick => "WriteCookie();", class: 'button', id:'home-button' %>
  </article>
</section>
