<%= content_tag :div, class: "temp_information", data: {survey_id: survey_id, api_url: ENV["API_URL"]} do %>
<% end %>

<script>
  $( document ).ready( updatePage() );
</script>

<h3 class="results-heading">Survey Results:<h3>

<% if facade.inactive? %>
  <% if facade.winner %>
    <div class="results-info winner-info">
      <h3><%= facade.winner.name %> received the most votes!</h3>
      <section class="survey-complete-buttons">
        <%= button_to 'Take Me There', directions_path, method: :get, class: "button", params: {
                                                                               restaurant_address: facade.winner.address_1,
                                                                               user_address: cookies[:manual_location],
                                                                               user_lat_long: cookies[:lat_long],
                                                                               user_id: current_user.id,
                                                                               restaurant_id: facade.winner.id  } if current_user == facade.user %>
        <%= button_to 'Start Another Survey', group_roulette_path, class: "button", method: :get %>
      </section>
    </div>
  <% else %>
    <strong>Nobody voted!</strong>
  <% end %>
<% else %>
  <div class="multi-wrapper">
    <div class="multi-sub-wrapper">
      <div class="multi-card">
        <div class="content">
          <section class='survey-restaurant'>
            <section class='survey-restaurant-<%= facade.survey_restaurants[0].id %>'>
              <p><%= link_to facade.survey_restaurants[0].restaurant.name, facade.survey_restaurants[0].restaurant.url, target: :_blank %></p>
              <p>Votes received: <span id='sr1-votes'></span></p>
            </section>
          </section>
        </div>
      </div>
      <div class="multi-card">
        <div class="content">
          <section class='survey-restaurant'>
            <section class='survey-restaurant-<%= facade.survey_restaurants[1].id %>'>
              <p><%= link_to facade.survey_restaurants[1].restaurant.name, facade.survey_restaurants[1].restaurant.url, target: :_blank %></p>
              <p>Votes received: <span id='sr2-votes'></span></p>
            </section>
          </section>
        </div>
      </div>
      <div class="multi-card">
        <div class="content">
          <section class='survey-restaurant'>
            <section class='survey-restaurant-<%= facade.survey_restaurants[2].id %>'>
              <p><%= link_to facade.survey_restaurants[2].restaurant.name, facade.survey_restaurants[2].restaurant.url, target: :_blank %></p>
              <p>Votes received: <span id='sr3-votes'></span></p>
            </section>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="multi-buttons">
    <% if facade.active? %>
    <%= button_to 'End Survey Now', end_survey_path(facade), method: :post, class: 'cancel-button' if current_user == facade.user  %>
    <% end %>
  </div>
<% end %>

<section class="results-status">
  <small>Status: <%= facade.status %></small><br/>
  <small>Total Votes Received: <span id="total-votes" ></span></small>
</section>
