<h1>Survey results! Watch them roll in...<h1>

<h3>Survey status: <%= facade.status %></h3>

<p>Total Votes Received: <%= facade.votes.count %></p>

<% facade.survey_restaurants.each do |survey_restaurant| %>
  <section class='survey-restaurant'>
    <section class='survey-restaurant-<%= survey_restaurant.id %>'>
      <p><%= survey_restaurant.restaurant.name %></p>
      <p>Votes received: <%= survey_restaurant.votes.count %>

      <%= button_to 'Vote for this', survey_path(facade), method: :patch,
          params: { phone: "+12223334444",
                    restaurant_code: (facade.survey_restaurants.index(survey_restaurant) + 1).to_s,
                   } %>
    </section>
  </section>
<% end %>

<%= button_to 'End Survey Now', end_survey_path(facade), method: :post %>
