<%= content_tag :div, class: "temp_information", data: {survey_id: survey_id} do %>
<% end %>

<script>
  $( document ).ready( updatePage() );
</script>

<% if facade.active? %>
  <h1>Survey results! Watch them roll in...<h1>
<% else %>
  <h1>Survey results!<h1>
<% end %>

<h3>Survey Results:<h3>

<small>Survey Status: <%= facade.status %></small><br/>
<small>Total Votes Cast: <%= facade.votes.count %></small>

Total Votes Received: <p id="total-votes"></p>
Restaurant 1 Votes received:<p id='sr1-votes'></p>
Restaurant 2 Votes received:<p id='sr2-votes'></p>
Restaurant 3 Votes received:<p id='sr3-votes'></p>

<div class="multi-wrapper">
  <div class="multi-sub-wrapper">
    <div class="results-info">
      <% if facade.inactive? %>
        <% if facade.winner %>
          <h3><%= facade.winner.name %> received the most votes!</h3>
          <section class="survey-complete-buttons">
            <%= button_to 'Accept and Notify Group', survey_path(facade), method: :get, class: "button" %>
            <%= button_to 'Take Me There!', directions_path, method: :get, class: "button", params: {
                                                                                   restaurant_address: facade.winner.address_1,
                                                                                   user_address: cookies[:manual_location],
                                                                                   user_lat_long: cookies[:lat_long],
                                                                                   user_id: current_user.id,
                                                                                   restaurant_id: facade.winner.id  } %>
            <%= button_to 'Start Another Survey', group_roulette_path, class: "button", method: :get %>
          </section>
        <% else %>
          <strong>No votes were received.</strong>
        <% end %>
      <% else %>
        <% facade.survey_restaurants.each do |survey_restaurant| %>
          <div class="multi-card">
            <div class="content">
              <section class='survey-restaurant'>
                <section class='survey-restaurant-<%= survey_restaurant.id %>'>
                  <p><%= link_to survey_restaurant.restaurant.name, survey_restaurant.restaurant.url %></p>
                  <p>Votes received: <%= survey_restaurant.votes.count %></p>
                </section>
              </section>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="multi-buttons">
  <% if facade.active? %>
    <%= button_to 'End Survey Now', end_survey_path(facade), method: :post, class: 'cancel-button'  %>
  <% end %>
</div>
