<!DOCTYPE html>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>FoodRoulette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_name == "home" %>
      <section class="home-logo">
        <%= image_tag('logo.png', class: "home-logo-1", alt: "Roulette Logo") %>
        <%= image_tag('logo-3.png', class: "home-logo-2", alt: "Roulette Logo 2") %>
      </section>
    <% else %>
      <%= render 'partials/nav' %>
    <% end %>

    <%= yield %>
  </body>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
</html>
